/* Conocimiento */
#section4{
    padding:100px 20px;
    min-height: 100vh;
}

.progress{
    height: 1.5rem;
}

i {
    color: white;
    font-size: 0.8rem;
}

.icono-principal{
    font-size: 0.8rem;
    font-weight: bold;
}

.progress-bar{
    height: 100%;
}

.verde{
    color: black;
    font-size: 0.55rem;
    font-weight: bold;
    margin: 0.1rem
    
}