<!-- Seción 4 Skills-->
<div id="section4" class="container-fluid text-white bg-dark">
  <div class="d-flex ">
    <h3>Conocimientos y habilidades</h3>
    <i class="fa-regular fa-plus icono-principal p-2 m-1"></i>
  </div>
  
  <div class="row">  
    <div *ngFor="let habilidad of conocimientos; last as isLast; even as isEven" [ngClass]="{' col-md-12': isLast && isEven , 'col-sm-12 col-md-6': !(isLast && isEven)}">
        
      <div class="border border-1 border-success p-3 mt-3">
        <div class="d-flex justify-content-between">
          <h3> {{habilidad.tipo}}</h3>
          <div class="d-flex flex-column">
            <i class="fa-regular fa-trash-can m-1 mt-0"></i>
            <i class="fa-regular fa-pen-to-square m-1"></i>
        </div>
      </div>
        
        <div *ngFor="let item of habilidad.items" class="progress mb-3 mt-3">
          
          <div style="width: 100%;" class="d-flex">
          <div style="width: 100%;" class="d-flex">
            
            <div class="progress-bar  bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': item.avance}" > {{item.nombre}}  {{item.avance}}%
            </div>           
            

          </div>

          <div class="d-flex flex-column">
            <i class="fa-regular fa-circle-xmark verde  text-success"></i>
            <i class="fa-regular fa-pen-to-square verde  text-success"></i>
          </div>
        </div>
        
        </div>
        
        <div class="d-flex justify-content-end">
          <i class="fa-regular fa-plus icono-principal"></i>
        </div>
      </div>
    </div>
  </div>
</div>