<!-- Portada - importante que ocupe toda la pantalla -->
<div id="section1" class="d-flex align-items-center justify-content-center bg-dark text-white text-center" style="background-image: url({{usuario?.backgroundImage}})">
    <div class="mx-auto">
        <div class="d-flex mx-auto text-center">
            <h1 class="verde shadowArce text-center mx-auto">{{usuario?.nombre}}</h1>
            <i class="fa-regular fa-pen-to-square m-3 verde shadowArce edicion" ></i>
        </div>
        <div class="d-flex mx-auto text-center" >
            <p class="lead shadowArce mb-4 text-center mx-auto">{{usuario?.profesion}}</p>
            <i class="fa-regular fa-pen-to-square m-2  shadowArce edicion " ></i>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a [href]="usuario?.linkIn" target="_blank">
                    <i class="fab fa-linkedin  lead hoverVerde"></i>
                </a>
            <li class="list-inline-item">
                <a [routerLink]="'/contacto'" target="_blank">
                    <i class="fa-regular fa-envelope  lead hoverVerde"></i>
                </a>
            </li>
            <li class="list-inline-item">
            <a [href]="usuario?.linkWP" target="_blank">
                <i class="fab fa-whatsapp lead hoverVerde"></i>
            </a>
            </li>
            <li class="list-inline-item">
                <a [href]="usuario?.linkGH" target="_blank">
                    <i class="fab fa-github lead hoverVerde"></i>
                </a>
            </li>
            <li class="list-inline-item">
                
                <i class="fa-regular fa-pen-to-square mb-2 shadowArce edicion edicionLinks" ></i>
            
            </li>
        </ul>
    </div>
</div>
