<!-- Portada - importante que ocupe toda la pantalla -->
<div id="section1" class="d-flex align-items-center justify-content-center bg-dark text-white text-center">
    <div class="mx-auto">
        <h1 class="verde shadowArce">{{miPorfolio.nombre}}</h1>
        <p class="lead shadowArce mb-4">{{miPorfolio.profesion}}</p>
        
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="https://es-la.facebook.com/" target="_blank">
                    <i class="fab fa-linkedin  lead hoverVerde"></i>
                </a>
            <li class="list-inline-item">
                <a href="https://www.instagram.com/?hl=es-la" target="_blank">
                    <i class="fab fa-instagram  lead hoverVerde"></i>
                </a>
            </li>
            <li class="list-inline-item">
            <a href="https://twitter.com/?lang=es" target="_blank">
                <i class="fab fa-whatsapp lead hoverVerde"></i>
            </a>
            </li>
            <li class="list-inline-item">
                <a href="https://google.com/" target="_blank">
                    <i class="fab fa-github lead hoverVerde"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
