<!-- Seción 2 Sobre mí-->
<div id="section2" class="container-fluid mb-0">   
     
    <!-- Acá se genera un espacio que se va a ir rellenando según el botón que se aprete-->
    <div class="row mt-5 mb-0 pb-0 mx-1">
      <div class="col-md-9 tab-content mb-0 pt-0 pb-0">
        <!-- Lo que aparece por default. Id= sobreMí-->
          <div id="sobreMi" class="container tab-pane active ocupa-60">
            <h1>Sobre mí</h1>
            <div class="mt-3">
              <p>La <strong>diversidad</strong> en la formación, en el trabajo y en los intereses es algo pasado de moda. Hoy no está bien visto porque se tiende a pensar que se es "poco especialista."
                  Sin embargo, es algo de mi persona que valoro mucho. Admito ante la mirada del lector que mi formación es diversa en distintas áreas. Cuando digo áreas diversas digo filosofía, digo traducción, alemán, investigación de mercado, digo programación (por suepuesto), incluso digo Gastronomía!
               </p>
               <p>   
                  Mis intereses variados me llevan siempre a saber de todo un poco y tener una visión comprehensiva y abarcadora en todo lo que hago. Allí lo positivo del caso. En el desarrollo de páginas web, ese es mi <strong>valor agregado </strong>.
              </p>

              <p>
                Hace unos años comencé a sumergirme en el mundo de la programación, encontrando en el <strong>desarrollo Full Stack</strong> mi lugar.
              </p>
              <p>
                 Mi experiencia de 11 años en gestión operativa de proyectos de investigación de mercado y Customer Expierence me aportan practicidad y eficiencia.
              </p>
              <p>
                Si bien no tengo mucha experiencia en el desarrollo de páginas web, soy responsable, detallista y autoexigente y esto se traduce en trabajos de calidad. 
                Te invito a revisar mi portfolio para comprobarlo.
              </p> 

              <p> 
                Para saber más, hacé clic en cada aspecto                
              </p> <br>
          </div>
          </div>
          <!-- Relleno que aparece si se apreta experiencia-->
          <ul id="experiencia" class="container tab-pane fade m-0 p-0 ocupa-60" ><br>
            <h2 class="mt-0">Experiencia Laboral</h2>
            <li *ngFor="let trabajo of experiencias" class="mb-2" style="list-style-type: none;" >
              <div class="row g-0 tarjeta mb-4">
                <div class="col-md-1">
                  <img [src]="trabajo.logoEmpresa" class="img-fluid rounded logoEnTarjeta mt-3 mb-3" alt="logo LetiPorti"> 
                </div>
                <div class="col-md-8">
                  <div class="card-body justify-content-start">
                    <h5 class="card-title">{{trabajo.Empresa}}</h5>
                    <ul class="card-text small">
                      <li *ngFor="let puesto of trabajo.puesto">
                        {{puesto}}
                      </li>
                      <p class="card-text text-end"><small class="text-muted">{{trabajo.inicio}} - {{trabajo.fin}}</small></p>
                    </ul>
                    
                  </div>
                </div>
              </div>
            </li>
            
            <!-- <div class="card mb-1">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="assets//wowcx_v2.jpg" class="img-fluid rounded-start" alt="logo wow">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">WOW! Customer Expierence</h5>
                    <ul class="card-text">
                      <li class="small">
                        Coordinadora de Proyectos
                      </li>
                    </ul>
                    <p class="card-text small text-end" style="font-size: 0.8rem;"><small class="text-muted">Marzo 2022 - Actualidad</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-1" style="width: 95%;">
              <div class="row g-0">
                <div class="col-md-4 mx-auto">
                  <img src="assets/IpsosTransp.png" class="img-fluid rounded-start mt-3 mb-3" alt="logo ipsos">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title" style="font-size: 1rem;">Ipsos Argentina</h5>
                    <ul class="card-text">
                      <li class="small" style="font-size: 0.9rem;">
                        Observer Head
                      </li>
                      <li class="small" style="font-size: 0.8rem;">
                        Directora de Proyectos
                      </li>
                      <li class="small" style="font-size: 0.7rem;">
                        Supervisora/Team Leader
                      </li>
                      <li class="small" style="font-size: 0.6rem;">
                        Encuestadora telefónica
                      </li>
                    </ul>
                    <p class="card-text text-end" style="font-size: 0.8rem;"><small class="text-muted">marzo 2011 - marzo 2022</small></p>
                  </div>
                </div>
              </div>
            </div>
 -->
</ul>
          
          <!-- Relleno que aparece si se apreta formación-->
          <div id="formacion" class="container tab-pane fade ocupa-60"><br>
            <h2>Formación</h2>
            
            <div class="row">
              
              <div class="col-md-6">
                <div class="border border-1 border-white p-3 m-2 mb-4" >
                  <h4>Certificaciones</h4>
                  <div class="d-flex m-2" *ngFor="let curso of certificaciones">
                    <div>
                    <img [src]="curso.logoInstitucion" alt="Logo UBA" class= "logoEducacion">
                    </div>
                    <div class="pt-2">
                      <h6>{{curso.institucion}}</h6>
                      <p class="fw-bold">{{curso.titulo}}</p>
                      <p class="chico">{{curso.descripcion}}</p>
                      <p class="text-muted muyChico">{{curso.inicio}} - {{curso.fin}}</p>
                    </div>
                  </div>
               </div>
                
              </div>
              <div class="col-md-6">
                <div class="border border-1 border-white p-3 m-2">
                  <h4>Educación</h4>
                  <div class="d-flex m-3" *ngFor="let estudio of formacion">
                    <div>
                    <img [src]="estudio.logoInstitucion" alt="Logo UBA" class= "logoEducacion">
                    </div>
                    <div class="p-2">
                      <h6>{{estudio.institucion}}</h6>
                      <p class="chico">{{estudio.titulo}}</p>
                      <p class="text-muted muyChico">{{estudio.descripcion}} {{estudio.inicio}} - {{estudio.fin}}</p>
                    </div>
                  </div>
                  <!-- <div class="d-flex m-3">
                    <div>
                    <img src="assets/logoLenguasVidas.png" alt="Logo UBA" class= "logoEducacion">
                    </div>
                    <div class="p-2">
                      <h6>Instituto Superior Lenguas Vivas</h6>
                      <p class="chico">Traductorado de alemán</p>
                      <p class="text-muted muyChico">Estudios no finalizados - 2015 -2019</p>
                    </div>
                  </div> -->

                </div>
                
              </div>
              
            </div>
          </div>
      </div>
      <div class="col-md-3 d-flex flex-column justify-content-between mt-5 mb-0 pb-0" >
        
       
          <!-- Acá está la barra navegadora de la sección. Según qué elemento se cliequea es lo que se muestra-->
          <div class="d-flex flex-column justify-content-between mt-3 mx-1" id="navSobremi">
        
            <ul class="nav nav-tabs flex-column" role="tablist">
              <li class="nav-item">
                <a class="nav-link text-muted active" data-bs-toggle="tab" href="#sobreMi">¿Quién soy?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-muted" data-bs-toggle="tab" href="#experiencia">Experiencia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-muted" data-bs-toggle="tab" href="#formacion">Formación</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-muted"  href="CV.docx" download>CV en pdf</a>
              </li>
            </ul>          
          </div>
        
          <!-- Acá la foto-->
            <div id="divImagen">
      
                <img [src]="foto" alt="Foto Leticia Portillo" class="rounded img-fluid align-items-end mb-0 pb-0" id="imgLeti">
            </div>

        
      </div>
    </div>

</div>